.header {
  padding: 1rem 1.6rem;
  background-color: var(--ion-color-primary);
  color: white;
}

.header .logo {
  img {
    width: 4rem;
  }
}

.fb-logo {
  img {
    width: 4rem;
    border-radius: 50%;
  }
}

.auth-image-container {
  background: url("../../../assets/Resources/other/login-banner.jpg");
  height: 45%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(88, 88, 234, 0.8),
    rgba(255, 255, 255, 0.1)
  );
}

.auth-container {
  position: absolute;
  width: 100%;
  top: 40%;
  display: flex;
  flex-direction: column;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--ion-color-primary);
  padding: 16px 20px;
  color: white;
}

.auth-container .bottom-image {
  align-self: center;
  margin-top: auto;
}

.auth-title {
  font-size: 1.4rem;
  font-weight: 600;
}

.auth-inner-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: white;
  color: black;
  height: 220px;
  border-radius: 20px;
  padding: 2.2rem 1.6rem;
}

.auth-inner-wrapper ion-input {
  margin: 0.5rem 0px;
  background-color: #eaeaea;
  border-radius: 5px;
}

.auth-inner-wrapper ion-button {
  align-self: center;
  width: auto;
}

.otp {
  width: 7vh;
  height: 7vh;
  border-radius: 5px;
  background-color: var(--ion-color-contentbg);
  color: #000;
  .native-input {
    padding: 10px 0px !important;
  }
}

.inputno {
  --padding-start: 10px;
}

.sc-ion-input-ios-h {
  --padding-end: 0px;
}

ion-button {
  height: 100px;
  width: 300px;
}

// Vehicle Modal

.vehicleModal {
  --border-radius: 16px;
  ion-content {
    --overflow: hidden;
  }
  ion-header {
    padding: 5px;
  }
  ion-toolbar {
    border-bottom: 1px solid var(--ion-darkgrey-color);
  }
  ion-label {
    color: #000;
  }
}

.vehicleModal-item {
  border-radius: 10px;
  background: #fff;
}

.footer-of-modal {
  width: 100%;
  padding: 1rem;
  // bottom: 43%;
}

.divflexCol {
  display: flex;
  flex-direction: column;
}

.cancel-image {
  height: 32px;
  width: 45px;
  padding: 0.1rem 0.5rem;
  border: 0.3px solid #e1e1e1;
  border-radius: 3px;
  margin-right: 0.8rem;
}

.method-selection ion-row {
  padding: 0.6rem 0.8rem;
  // margin: 0.5rem 0.3rem;
  border-radius: 5px;
}

.vehicle-option {
  height: 200px;
  overflow-y: scroll;
  background-color: white;
  ion-col {
    border-bottom: 1px solid var(--ion-lightgrey-color);
  }
}

.select-icon-wrapper {
  display: flex;
  text-align: center;
  background-color: var(--ion-color-primary);
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.select-icon-wrapper ion-icon {
  align-self: center;
  margin-left: 4px;
}

.vehicle-modal-button {
  height: 3rem;
  width: 150px;
}

ion-modal::part(backdrop) {
  background: var(--ion-color-primary);
  --backdrop-opacity: var(--ion-backdrop-opacity, 1);
  opacity: 1;
}
