.payment-mode-container {
  border-top: 1px solid var(--ion-text-color);
}

.forward-icon {
  margin-left: auto;
}

.payment-mode-icon {
   width: auto;
}

.payment-mode-label {
  color: var(--ion-darkgrey-color);
  font-family: 'Roboto';
}

