.route-container {
  border-top: 1px solid #000;
}

.forward-icon {
  margin-left: auto;
}

.route-icon {
   width: auto;
}

.route-label {
  color: var(--ion-darkgrey-color);
  font-family: 'Roboto';
}

