<ion-header mode="ios">  
  <app-headersummary title="Account Statement"></app-headersummary>
</ion-header>
<ion-content>
  <div class="ion-margin">
    <div class="myaccount-card">
      <ion-row>
        <div style="display: block; margin: 0 auto;">
          <ion-label class="LargeNormal ion-margin-start" color="dark">Balance</ion-label>
          <br>
          <ion-label style="font-size: 2rem;" color="secondary">₹ {{balance}}</ion-label>
        </div>
      </ion-row>
    </div>
  </div>
  <div *ngIf="showResults" class="ion-margin">
    <div class="ion-padding" style="border-bottom: 1px solid grey;" *ngFor="let tranx of transactions">
      <ion-row class="ion-justify-content-between">
        <div>
          <ion-label color="dark" class="text-capitalize">Txn Id: {{tranx.transactionId}}</ion-label>
        </div>
        <!-- <div>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div> -->
      </ion-row>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="7">
          <!-- <ion-label>Tranx Date: <ion-label color="dark">{{tranx.transactionDate}}</ion-label></ion-label> -->
          <ion-label color="dark">{{tranx.transactionDate}}</ion-label>
        </ion-col>
        <ion-col size="3">
          <!-- <ion-label>Amount: <ion-label color="dark">₹ {{tranx.amount}}</ion-label></ion-label> -->
          <ion-label color="dark">₹ {{tranx.amount}}</ion-label>
        </ion-col>
        <ion-col size="2" *ngIf="tranx.isCredited">
          <ion-label color="success">CR</ion-label>
        </ion-col>
        <ion-col  size="2" *ngIf="!tranx.isCredited">
          <ion-label color="danger">DR</ion-label>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>